{% load static %}
<!--  footer -->
 <footer>
    <div class="footer bottom_cross1">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <ul class="location_icon">
                   <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a> تهران <br> اتوبان همت
                   </li>
                   <li class="text-primary"><a href="tel:02144467349" class="text-primary"><i class="text-primary fa fa-phone" aria-hidden="true"></i>+(021)44467349</a></li>
                   <li class="text-primary"><a href="tel:02188094185" class="text-primary"><i class="text-primary fa fa-phone" aria-hidden="true"></i>+(021)88094185</a></li>
                   <li class="text-primary"><a href="tel:09916296735" class="text-primary"><i class="text-primary fa fa-phone" aria-hidden="true"></i>+(0991)6296735</a></li>
                </ul>
                
             </div>
             <div class="col-md-7">
                <div class="map">
                   <figure><img src="{% static 'images/map.png' %}" alt="#"/></figure>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>