{% load static %}
<div class="loader_bg">
    <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
 </div>
 <!-- end loader -->

 <!-- header -->
 <header class="pb-5">
    <!-- header inner -->
    <div class="header bg-primary">
       <div class="container-fluid">
          <div class="row">
            <div class="col-1 bg-light">
               <div class="logo">
                   <img style="color:white" src="{% static 'images/logo.png' %}" alt=""> 
               </div>
            </div>
             <div class="col-10 text-center">
                   <ul class="conat_info text-primary">
                      <li class="text-primary"><a href="tel:02144467349" class="text-light"><i class="text-light fa fa-phone" aria-hidden="true"></i>(مرکزی)44467349</a></li>
                      <li class="text-primary"><a href="tel:02188094185" class="text-light"><i class="text-light fa fa-phone" aria-hidden="true"></i>(غرب)88094185</a></li>
                      <li class="text-primary"><a href="tel:09916296735" class="text-light"><i class="text-light fa fa-phone" aria-hidden="true"></i>0991-6296735</a></li>
                   </ul>
             </div>
             <div class="col-1 bg-light">
               <div class="logo">
                   <img style="color:white" src="{% static 'images/logo.png' %}" alt=""> 
               </div>
            </div>
          </div>
       </div>
    </div>
 </header>